h1,#first-heading {
  font-family:  "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  letter-spacing: 40.2px;
  text-shadow: 2px 2px 4px gray;
  border-bottom: solid 3px rgb(115,115,114)
}
p,.textblue,.textpink{
  text-align: center;
}
.textpink{
  color:pink
}
.textblue{
 color:skyblue
}

.weight{
font-weight: bold;
  
}
