h1,#first-heading {
  font-family:  "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  letter-spacing: 40.2px;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115,115,114)
}
.first-paragraph {
  text-align: center;
  color: pink
}
.kuroji {
  text-align: center;
  font-weight: bold;
}
.second-paragraph {
  text-align: center;
  color: skyblue;
}
p {
  text-align: center;
}
